private/

_vim/view/
_vim/.junk/
_vim/memo/
_vim/vim
_vim/colors/hydrangea.vim
_vim/ftplugin/go.vim
_vim/bin
_vim/bundle
_vim/spell
_vim/swp
_vim/undo
_vim/dein
_vim/.netrwhist

_config/nvim/.netrwhist

config/nvim/.netrwhist
config/configstore/
config/gtk-*/
config/inkscape/
config/fish/fishd.*

pypirc

