private/

vim/view/
vim/.junk/
vim/memo/
vim/vim
vim/colors/hydrangea.vim
vim/ftplugin/go.vim
vim/bin
vim/bundle
vim/spell
vim/swp
vim/undo
vim/dein
vim/.netrwhist

config/nvim/.netrwhist
config/configstore/
config/gtk-*/
config/inkscape/
config/fish/fishd.*

pypirc

